.navbar {
    background-color: #20232a;
    height: 65px;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0px 150px 0px 150px;
    padding: 0;
    overflow: hidden;
}

.navbar .title a {
    float: left;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    color: white;
    font-size: 43px;
    padding: 7px 0px 0px 0px;
}

.navbar .logoIcon {
    height: 40px;
    width: auto;
    margin: 0px 10px 0px 0px;
}

.navbar .github {
    float: right;
    padding: 13px 0px 0px 0px;
}

.navbar .githubIcon {
    height: 47px;
    width: auto;
}