.title {
    font-family: 'Bree Serif', serif;
    color: black;
    font-size: 25px;
    width: 100%
}

.title .logoIcon {
    height: 7%;
    width: 7%;
    padding: 0px 5px 0px 0px;
}

.title .closeIcon {
    height: 5%;
    width: 5%;
    float: right;
    padding: 10px 8px 0px 0px;
}